body{
    background-color: lightgray;
}

#obrazek{
    height: 200px;
    width: 200px;
}

.fontSize10{
    font-size: 10px;
}

.fontSize20{
    font-size: 20px;
}

.fontSize30{
    font-size: 30px;
}

.kolor_zielony{
    color: green;
}

.kolor_czerwony{
    color: red;
}

.kolor_zolty{
    color: yellow;
}